body {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

@media (max-width: 576px) {
    header {
        background-image: url("../imagens/fundo-abstrato-mobile.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .div-logo {
        position: relative;
        text-align: center;
        height: 15vh;
    }

    .div-logo img {
        width: 150px;
    }

    #user-menu {
        position: absolute;
        top: 8px;
        right: 8px;
        cursor: pointer;
    }

    #user-menu img {
        width: 50px;
    }
}

@media (min-width: 577px) {
    header {
        background-image: url("../imagens/fundo-abstrato-web.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .div-logo {
        position: relative;
        text-align: center;
        height: 19vh;
    }

    .div-logo img {
        width: 210px;
    }

    #user-menu {
        position: absolute;
        top: 30px;
        right: 40px;
        cursor: pointer;
    }

    #user-menu img {
        width: 60px;
    }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
